weights/
.ipynb_checkpoints/
model_dumps/
min_epsilon_dataset.csv
scripts/__pycache__/
*.pyc
facesegmentor/.ipynb_checkpoints/
facesegmentor/__pycache__/
pytorchyolo/__pycache__/
pytorchyolo/utils/__pycache__/